body{

  background-image: url("Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
}
h2{

  color: #ffffff;
}


#div2{

  padding-top: 80px;
}
